<h1> {{ message | async }} </h1>
<button (click) = "spanishMessage()"> Spanish </button> 
<button (click) = "frenchMessage()"> French </button> 
<button (click) = "resetMessage()"> English </button
>

<br><br>

<div *ngIf = "post | async  as p">

	<h5 *ngIf = "p.loading" > Loading.. </h5>

	<h2> {{ p.text }} </h2>
	<h4> votes : {{ p.votes }} </h4>
	<br>


	<button (click) = "vote(p, 1)"> Upvote  </button>
	<button (click) = "vote(p, -1)"> Downvote </button>

	<br>
	
</div>

<button (click) = "getPost()"> Load Post </button>